.login-page{
    height: 100vh;
    padding-top: 2rem;
    background-image: url("https://visitbath.co.uk/imageresizer/?image=%2Fdbimgs%2FGallery%20-%20Martini%20Restaurants.jpg&action=FeaturedItemsGalleryProElite3x2");
    background-attachment: fixed;
    background-size: cover;
    
}
