

* {
  margin: 0;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

a{
  text-decoration: none;
}
:root{
  --gradient : linear-gradient(to right, #2ebf91, #8360c3);

  --primary: #f3686a;
  --primary-hover: #f3686ad3;
  --secondary:rgb(106, 243, 104); 
  --secondary-hover:#6af368ce;
  --thirdly: #FFE4CF;
  --mycolor: #686af3;
}