/* @import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;700&display=swap'); */


* {
  margin: 0;
  /* font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif; */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  /* font-family: 'Open Sans', sans-serif; */
  /* font-family: 'Poppins', sans-serif; */
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

a{
  text-decoration: none;
  /* color: white; */
}
:root{
  /* background: #8360c3; 
  background: -webkit-linear-gradient(to right, #2ebf91, #8360c3); 
  background: linear-gradient(to right, #2ebf91, #8360c3);  */
  --gradient : linear-gradient(to right, #2ebf91, #8360c3);

  /* --primary: #192A56;
  --primary-hover: #192a56e0; */
  /* --primary: #34B891; */
  /* --primary: #247F9E; */
  --primary: #F3686A;
  --primary-hover: #f3686ad3;
  --secondary:#6af368; 
  --secondary-hover:#6af368ce;
  --thirdly: #FFE4CF;
  --mycolor: #686af3;
}